/*-----.color1 {color: #111f39;}
        .color2 {color: #0d4d76;}
        .color3 {color: #0887be;}
        .color4 {color: #07d0ff;}
        .color5 {color: #0ffff8;}....
        
        
        #fdfefe
        #fbeee6
        #fdf2e9
        #fef5e7
        #fef9e7
        #eafaf1*/


        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style-type: none;  
        }
        
       
            
           
       
       

        .conteiner{
            display: grid;
            grid-gap: 5px;
            min-height: 100vh;
            grid-template-rows: auto auto 1fr;
            grid-template-areas: 
            "navegador"
            "lasNavs"
            "noticiasPrincipales"
            "noticiasDelDia"
            "noticiasNuevas"
            "footer";
        }
       
@import "variables";
@import "mediaqueris1024";
@import "componentes";
@import "mediaqueris780";
@import "botones";


