/*-----.color1 {color: #111f39;}
        .color2 {color: #0d4d76;}
        .color3 {color: #0887be;}
        .color4 {color: #07d0ff;}
        .color5 {color: #0ffff8;}....*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    box-sizing: border-box; 
  box-sizing: border-box;
    box-sizing: border-box; 
  box-sizing: border-box;
    box-sizing: border-box; 
  box-sizing: border-box;
    box-sizing: border-box; 
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-decoration: none;
    
}
 nav ul li{
  display: block;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #0d4d76;
  border-radius: 10px;
  padding: 1px 13px;
  color: rgb(255, 255, 255);
  text-decoration: none;
    

}
 .noticia:hover{
  background-color: aquamarine;
    transform:scale(1.1) ;

}
body{
  color: rgb(6, 6, 6);
  background-color: #0d4263;
    font-family: 'Charis SIL', serif;
  font-size: 1rem;
}
li:hover{
  background-color: white;
  border: 2px solid #0d4263;
  color: #0d4263;
  transform: scale(1);


}

a {
  color: inherit;
}

.conteiner > * {
    padding: 20px;
  border: 1px solid white;
}


.conteiner {
  text-align: center;
}

.tituloDeSeccion {
    font-family: 'Russo One', sans-serif;
  font-weight: 900;
}
.navegador{
  color: white;
  grid-area: navegador;
  font-size: 30px;
    background-image: url(./imagen/banner-noticias.png) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.imagenDeNoticia {
  height: auto;
}

.lasNavs {
    background-image: linear-gradient(-20deg, #2b5876 40%, #617bfcdf );
  grid-area: lasNavs;
  text-align: center;
}
.noticiasPrincipales{
  background-color: #c0e8f1;
  grid-area: noticiasPrincipales;
}

.noticiasDelDia{
  background-color: #2ea8a4;
  grid-area: noticiasDelDia;
}
.noticiasDeOpinion{
  grid-area: noticiasDeOpinion;
}

.noticiasDestacadas {
  grid-area: noticiasDestacadas;
}
.noticiasNuevas{
  grid-area: noticiasNuevas;
}
.footer{
  grid-area: footer;
    background: rgba(46, 76, 154, 1);
}

.conteiner{
  display: grid;
  grid-gap: 10px;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "navegador"
    "lasNavs"
    "noticiasPrincipales"
    "noticiasDelDia"
    "noticiasNuevas"
    "footer";
}
@media(min-width:780px) {
    nav ul{
    display: flex;
    justify-content: space-between;
  }
    .conteiner{
    grid-template-columns: 4fr 2fr;
        grid-template-areas: 
        "navegador navegador"
        "lasNavs lasNavs"
        "noticiasPrincipales noticiasDelDia"
        "noticiasNuevas noticiasNuevas"
        "footer footer";
  }
    .contenedorDeNoticia{
    height: auto;
    width: auto;
  }
    .noticiasPrincipales{
    height: auto;
  }
    .noticiasDelDia{
    height: auto;
  }
  .noticia1 {
    width: auto;
    height: auto;
    padding: 5px;
    border: solid 3px white;
    text-align: center;
        text-align: center;  
    text-align: center;
        text-align: center;  
    text-align: center;
        text-align: center;  
    text-align: center;
        text-align: center;  
    text-align: center;
  }
    .contenedorDeNoticia{
    display: flex;
    flex-wrap: wrap;
  }
}
@media(min-width:1024px) {
        .conteiner {grid-template-columns: 4fr 2fr;
        grid-template-areas: 
        "navegador navegador"
        "lasNavs lasNavs"
        "noticiasPrincipales noticiasDelDia"
        "noticiasNuevas noticiasNuevas"
        "footer footer"
  }
    .contenedorDeNoticia{
    height: 100vh;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
        flex-direction: column;       
    flex-direction: column;
  }
    .noticia{
    height: auto;
    width: 100%;
    padding: 10px;
       

  }
  .noticiasNuevas {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;

  }
    
}